<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>TickKey</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>SUEnableAutomaticChecks</key>
	<true/>
	<key>SUEnableDownloaderService</key>
	<true/>
	<key>SUEnableInstallerLauncherService</key>
	<true/>
	<key>SUFeedURL</key>
	<string>$(SPARKLE_FEED_URL)</string>
	<key>SUPublicEDKey</key>
	<string>$(SPARKLE_PUBLIC_KEY)</string>
	<key>TickKeyRepositoryURL</key>
	<string>$(TICKKEY_REPOSITORY_URL)</string>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>TickKey encrypted backup</string>
			<key>UTTypeIdentifier</key>
			<string>cn.vanjay.tickkey.backup</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>tickkey</string>
				</array>
				<key>public.mime-type</key>
				<string>application/vnd.tickkey.backup</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
